* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2f2f2f;
    font-family: "Roboto", sans-serif;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #E6EAFB;
    cursor: pointer;
    position: relative;
}

.material-symbols-outlined {
    color: #88A8A8;
    font-size: 1.125rem;
}

.textLogo {
    pointer-events: none;
    animation: fade-out-left 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    opacity: 0;
    position: absolute;
    line-height: 1.6;
    right: 70px;
    width: auto;
    max-width: 250px;
    color: white;
    width: max-content;
    font-size: 0.875rem;
    background: #00A8A8;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 
        0 1px 1px rgba(0, 168, 168, 0.12),
        0 2px 2px rgba(0, 168, 168, 0.12),
        0 4px 4px rgba(0, 168, 168, 0.12),
        0 8px 8px rgba(0, 168, 168, 0.12),
        0 16px 16px rgba(0, 168, 168, 0.12),
}

